@import "variables";
@import "base";

body {
  scroll-behavior: smooth;
  background: transparent;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
  overflow: hidden;
  transition: all 0.5s;
  &.main-section {
    background: #fff;
    color: $color-dark-blue;
  }
  &.human-section {
    background: #002e88;
    color: $color-white;
    header {
      .logo {
        path {
          fill: #fff;
        }
      }
      .right p.contacts {
        color: $color-white;
        a {
          color: $color-white;
        }
      }
    }
  }
  &.animal-section {
    background: #00897b;
    color: $color-white;
    header {
      .logo {
        path {
          fill: #fff;
        }
      }
      .right p.contacts {
        color: $color-white;
        a {
          color: $color-white;
        }
      }
    }
  }
  &.plants-section {
    background: #035248;
    color: $color-white;
    header {
      .logo {
        path {
          fill: #fff;
        }
      }
      .right p.contacts {
        color: $color-white;
        a {
          color: $color-white;
        }
      }
    }

    footer p {
      color: #aeaeb3;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;

  .right {
    display: flex;
    align-items: center;
    p.contacts {
      font-size: 13px;
      line-height: 185%;
      color: $color-black;
      a {
        display: block;
        color: $color-black;
      }
    }

    .login {
      margin-left: 24px;
    }
  }
}

footer {
  padding: 30px 50px;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    color: #aeaeb3;
    font-size: 12px;
  }
}

.main-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.section {
  display: none;
  opacity: 0;
  //transform: scale(0.9);
  transition: all 0.5s ease;

  padding: 120px 50px 75px;
  min-height: 100vh;
  //display: flex;
  align-items: center;
  //position: relative;
  &.active {
    display: flex;
    opacity: 1;
  }
  &.main-section {
    //background: #fff;
    .bg {
      background-image: url("../img/bg.png");
      background-position: 80% 0;
    }
  }
  &.plants-section {
    // background: #035248;
    .bg {
      background-image: url("../img/bg2.png");
      background-position: 100% 0;
    }
    .content {
      .desc::after {
        background: rgb(3, 82, 72);
        background: linear-gradient(
          0deg,
          rgba(3, 82, 72, 1) 0%,
          rgba(3, 82, 72, 0) 100%
        );
      }
      .btn-blue:hover {
        background-color: #fff;
      }
      .bottom p {
        color: #fff;
      }
    }
  }
  &.human-section {
    // background: #002e88;
    .bg {
      background-image: url("../img/bg3.png");
      background-position: 100% 0;
    }
    .content {
      .desc::after {
        background: rgb(0, 46, 136);
        background: linear-gradient(
          0deg,
          rgba(0, 46, 136, 1) 0%,
          rgba(0, 46, 136, 0) 100%
        );
      }
      .btn-blue {
        background-color: #002671;
      }
      .bottom p {
        color: #fff;
      }
    }
  }
  &.animal-section {
    //background: #00897b;
    .bg {
      background-image: url("../img/bg4.png");
      background-position: 100% 0;
    }
    .content {
      .desc::after {
        background: rgb(0, 137, 123);
        background: linear-gradient(
          0deg,
          rgba(0, 137, 123, 1) 0%,
          rgba(0, 137, 123, 0) 100%
        );
      }
      .bottom p {
        color: #fff;
      }
    }
  }
  .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateX(50px);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: transform 3s;
    &.active {
      transform: translateX(0);
    }
  }

  .content {
    max-width: 737px;
    width: 100%;
    padding-left: 50px;

    h1,
    h2 {
      font-family: $font-echoes;
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 50px;
    }
    .desc {
      position: relative;
      margin-bottom: 50px;
      p {
        font-size: 20px;
        margin-bottom: 50px;
        font-weight: 600;
        line-height: 130%;
        &:last-child {
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 400;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 84px;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      p {
        width: 255px;
        font-size: 12px;
        margin-right: 24px;
        color: #717179;
      }
    }

    .btn-blue {
      overflow: hidden;
      height: 53px;
      line-height: 53px;
      min-width: 158px;
      text-align: center;
      padding: 0 20px;
      transition: all 0.3s;
      .inner {
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        line-height: 53px;
      }
      i {
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background: #0054f8;
        .inner {
          animation: bounce-up 0.6s ease forwards;
        }
      }

      &:not(:hover) .inner {
        animation: bounce-down 0.6s ease forwards;
      }
    }
  }
  .category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .item {
      position: relative;
      overflow: hidden;
      border-radius: 24px;
      height: 232px;
      width: 100%;
      max-width: 743px;
      margin-bottom: 8px;
      cursor: pointer;

      img {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: -50px;
        transform: translateY(-50%);
        width: 473px;
        height: 473px;
        transition: all 0.5s;
      }
      svg {
        position: absolute;
        z-index: 4;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: transparent;
        transition: all 0.5s;
        &:hover {
          background: #fff;
          g {
            animation: bounce-right 0.6s ease forwards;
            path {
              stroke: #002e88;
            }
          }
        }
      }
      span {
        position: absolute;
        z-index: 5;
        font-weight: 500;
        font-size: 14px;
        opacity: 0.5;
        left: 24px;
        top: 24px;
        color: $color-white;
      }

      h6 {
        position: absolute;
        z-index: 6;
        font-weight: 500;
        font-size: 32px;
        font-family: $font-echoes;
        left: 24px;
        bottom: 24px;
        color: $color-white;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   z-index: 2;
      //   z-index: 1;
      //   top: -660px;
      //   left: -560px;
      //   width: 820px;
      //   height: 820px;
      //   filter: blur(300px);
      //   border-radius: 50%;
      // }

      &.human {
        color: #00359b;
        background-color: #00359b;

        &::after {
          background: radial-gradient(
            58.3% 184.7% at 14.56% 0%,
            #2a40df 0%,
            #002e88 100%
          );
        }
      }
      &.animal {
        background-color: #00897b;
        &::after {
          background: radial-gradient(
            58.3% 184.7% at 14.56% 0%,
            #018596 0%,
            #00897b 100%
          );
        }
      }
      &.plants {
        background-color: #004d44;
        &::after {
          background: radial-gradient(
            58.3% 184.7% at 14.56% 0%,
            #146454 0%,
            #004d44 100%
          );
        }
      }

      &:hover {
        .btn {
          rect {
            stroke-opacity: 1;
          }
        }
        img {
          width: 570px;
          height: 570px;
        }
      }
    }
  }
}
/* Анимация bounce */
@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(12px); //40
  }
  40% {
    transform: translateX(-10px); //30
  }
  60% {
    transform: translateX(6px); //30
  }
  80% {
    transform: translateX(-3px); //30
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-54px); //40
  }
  60% {
    transform: translateY(-50px); //30
  }
  100% {
    transform: translateY(-53px);
  }
}

/* Bounce вниз */
@keyframes bounce-down {
  0% {
    transform: translateY(-53px);
  }
  40% {
    transform: translateY(1px);
  }
  60% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

//==================================

@media (max-width: 1600px) {
}

@media (max-width: 1360px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 670px) {
}

@media (max-width: 560px) {
}

@media (max-width: 420px) {
}

@media (max-height: 560px) {
}
